<?xml version="1.0" encoding="utf-8"?>
<Content Key="65d52289-a225-4d42-8c45-93fdddc0f745" Alias="About Us" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-06T09:12:45</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "breadcrumb",
                    "value": {},
                    "id": "e4749f0c-e9aa-4092-b477-2c7ff6c31227"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "5710ff9f-bd15-4d7b-a446-86cffb3bfce9"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "aboutUs",
                    "value": {
                      "title": "Our Mission",
                      "tabs": [
                        {
                          "key": "0ff4bf77-e30b-44cf-a864-6e57f330d5f7",
                          "name": "Item 1",
                          "ncContentTypeAlias": "aboutUsTab",
                          "tabText": "Creation",
                          "content": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p> \n<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>",
                          "link": [
                            {
                              "name": "Get in touch",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "571c9be7-051b-4661-879b-d862637447f4",
                          "name": "Item 1",
                          "ncContentTypeAlias": "aboutUsTab",
                          "tabText": "Analysis",
                          "content": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>  <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>",
                          "link": [
                            {
                              "name": "Start exploring",
                              "url": "#"
                            }
                          ]
                        }
                      ],
                      "videoId": "sSakBz_eYzQ",
                      "videoImage": "umb://media/7f39a776a1b1498f811a9d1a740ae917"
                    },
                    "id": "ccc13974-12ab-4d6f-99f3-bfcf7faefe44"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "cb986499-34a4-4006-8068-733f4cc65e32"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "whyChooseUs",
                    "value": {
                      "image": "umb://media/a755a50c37f0423c937b1a7bb93aae28",
                      "reasons": [
                        {
                          "key": "b983d93a-2b04-4b4a-b2d5-0fb04736fb4c",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "Distinctive Experts That Provide Effortless Expertise"
                        },
                        {
                          "key": "21a67d37-834c-4821-933c-b59545d88adc",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "Enriched Outcomes Enabled By Experienced Professionals"
                        },
                        {
                          "key": "c778533a-0889-458b-941b-a4c4546b17fe",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "Wide-Ranging Thoughts Bread Exceptional Ideas"
                        },
                        {
                          "key": "fe363910-c514-4e1c-9749-5db0db43d0bd",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "Generating Best Results Through Open Communication"
                        },
                        {
                          "key": "d30d81c3-fd2f-48a5-a029-544e17f5658b",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "Extensive Marketing Research Generates Valuable Insights"
                        },
                        {
                          "key": "58bc40b4-6c3d-4982-a68b-ca66769d213a",
                          "name": "Item 1",
                          "ncContentTypeAlias": "whyChooseUsReason",
                          "text": "We are Results-Driven, Oriented, We deliver results"
                        }
                      ],
                      "title": [
                        {
                          "key": "0d685ac0-b5c5-4ba3-a603-99c77fb96f80",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "Why choose us",
                          "text": "We're your partner in your success"
                        }
                      ]
                    },
                    "id": "70b0c022-2c41-4159-94ef-b4e90feb065e"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "a7946cc5-ef61-4408-82b3-abc2bbdfd5a3"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "teamArea",
                    "value": {
                      "title": [
                        {
                          "key": "785c0c53-5579-4f82-a786-8416e6e871f0",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "Team of Experts",
                          "text": "We stay on top of our industry by being experts in yours."
                        }
                      ],
                      "mode": "carousel",
                      "items": [
                        {
                          "key": "30a9b558-d49d-4908-88de-ffdef50d2abc",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/d754e0a4d9d3494699a916bb16c66e0d",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "d276497e-8642-41e7-b598-c3d99a2d74a0",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/54dcef1a07414791b3b7f0d10e0d9fa7",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "59c8aa10-43ae-4e77-b282-2dc0c7402dcc",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/9a125fda1c9e42b0bb0b4013b726d245",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "14d4ccaf-41bc-4b4a-872d-e210d2399141",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/dd8431cf26804fb39ea1e64f26577111",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "755791c4-ad79-4205-ad8f-51e2e5c8b428",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/9a125fda1c9e42b0bb0b4013b726d245",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        },
                        {
                          "key": "550b17fb-ea49-4613-b700-b7f0a009c866",
                          "name": "Item 1",
                          "ncContentTypeAlias": "teamAreaItem",
                          "subTitle": "Designer",
                          "title": "Roger Black",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est.",
                          "image": "umb://media/54dcef1a07414791b3b7f0d10e0d9fa7",
                          "socialLinks": [
                            {
                              "name": "facebook",
                              "url": "#"
                            },
                            {
                              "name": "twitter",
                              "url": "#"
                            },
                            {
                              "name": "pinterest",
                              "url": "#"
                            },
                            {
                              "name": "instagram",
                              "url": "#"
                            },
                            {
                              "name": "youtube-play",
                              "url": "#"
                            }
                          ]
                        }
                      ]
                    },
                    "id": "4469f7e1-a34f-4659-af11-0a52bdab0312"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "4464d033-87e2-4ef8-abdc-97ca8dc8e54d"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/94191f91f97b46dca38db59830903e98"
                    },
                    "id": "f096d6cf-7e32-4a0b-87c7-898cbcb3348a"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "f054d353-c9ce-4f7c-b76c-8dfdf4852ca3"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "testimonials",
                    "value": {
                      "items": [
                        {
                          "key": "24ce026a-59d3-4a58-af9b-deef6990e092",
                          "name": "Darrell Goodman",
                          "ncContentTypeAlias": "testimonialsItem",
                          "headshot": "umb://media/95db1d49858f439485d49909e4ad33ac",
                          "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                          "stars": "3.6",
                          "position": "CEO Colorlib"
                        },
                        {
                          "key": "f11e5c4a-b0bb-4219-b355-7e8b389a6ce0",
                          "name": "Darrell Goodman",
                          "ncContentTypeAlias": "testimonialsItem",
                          "headshot": "umb://media/195c6a3f09324acba510db33aa9b5ea7",
                          "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                          "stars": "4.5",
                          "position": "CEO Colorlib"
                        }
                      ]
                    },
                    "id": "7221e028-40d7-4d6c-bbcc-027cd5c1f167"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "8d72ea25-099e-4b58-bd6d-d4a7f678bd99"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "statistics",
                    "value": {
                      "stats": [
                        {
                          "key": "f05af36c-1263-4667-a7c7-f2859e97370d",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "90",
                          "description": "PROJECTS COMPLETED",
                          "iconName": "piechart"
                        },
                        {
                          "key": "9325232b-ff6e-45b0-aaee-84095bbfcba7",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "120",
                          "description": "Happy<br> clients",
                          "iconName": "heart_alt"
                        },
                        {
                          "key": "5605f7c8-fb7b-45de-862c-525926a1af75",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "50",
                          "description": "Web<br> awards",
                          "iconName": "book_alt"
                        },
                        {
                          "key": "4b85ca6d-f0d9-4c20-a2f0-eb857143a027",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "20",
                          "description": "our<br> experts",
                          "iconName": "profile"
                        }
                      ]
                    },
                    "id": "4998b0bc-432f-4907-8084-a93a206f4707"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "00b7ba7a-7a79-4d58-b2b0-8b5c910ed390"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/8699e3bd680f4737a6c3b4764f0dc7ca"
                    },
                    "id": "d7cd95c0-7c11-44be-86df-373b435fba1d"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "ebaec3fc-19f1-4e43-9744-85180fa1611c"
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>