<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c7d6255-be6f-4ead-9098-58316d157966" Alias="Amazon REV Workshop: Road to Seattle" Level="4">
  <Info>
    <Parent Key="f47eca7b-ec3b-46a9-83d3-ef86f09e4a6a">Blogs</Parent>
    <Path>/HomePage/ExamplePages/Blogs/AmazonREVWorkshopRoadToSeattle</Path>
    <Trashed>false</Trashed>
    <ContentType>blogDetailPage</ContentType>
    <CreateDate>2020-04-20T15:34:37</CreateDate>
    <NodeName Default="Amazon REV Workshop: Road to Seattle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="615f792f-4f21-47e2-9e35-79d62a4d80a1">BlogPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "blogImage",
                    "value": {
                      "image": "umb://media/716e19cafdf142e9a00657a85f0b4c25"
                    },
                    "id": "868f16f1-0af4-4039-9dee-3665a41c1ec8"
                  },
                  "editor": {
                    "name": "Blog Grid",
                    "alias": "blogGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\bblogImage\\b",
                        "\\bblogQuote\\b",
                        "\\bblogRte\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": false,
          "config": {},
          "id": "4bbbcb29-b927-4b05-a8af-e0f580016050"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "blogRte",
                    "value": {
                      "content": "<h2>Content is fire, social media is gasoline</h2><p>It sportsman earnestly ye preserved an on. Moment led family sooner cannot her window pulled any. Or raillery if improved landlord to speaking hastened differed he. Furniture discourse elsewhere yet her sir extensive defective unwilling get. Why resolution one motionless you him thoroughly. Noise is round to in it quick timed doors. Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction can dependent one bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are.</p>"
                    },
                    "id": "9c0744eb-f992-4712-a04b-7fb7e46371e5"
                  },
                  "editor": {
                    "name": "Blog Grid",
                    "alias": "blogGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\bblogImage\\b",
                        "\\bblogQuote\\b",
                        "\\bblogRte\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": false,
          "config": {},
          "id": "59a49a80-2c15-44b5-9a51-3b5d7500dac5"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "blogQuote",
                    "value": {
                      "quote": "Be passionate about your company’s culture and your mission. Remain positive because it inspires others.",
                      "name": "Kurt Uhlir"
                    },
                    "id": "10708402-0e41-4bdc-9e14-72f3bf994a6c"
                  },
                  "editor": {
                    "name": "Blog Grid",
                    "alias": "blogGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\bblogImage\\b",
                        "\\bblogQuote\\b",
                        "\\bblogRte\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": false,
          "config": {},
          "id": "da7a88c8-3e07-4b12-9d64-d3c3239e40fd"
        }
      ]
    }
  ]
}]]></Value>
    </content>
    <cta>
      <Value><![CDATA[umb://document/8699e3bd680f4737a6c3b4764f0dc7ca]]></Value>
    </cta>
    <footerCategories>
      <Value><![CDATA[[{"name":"Tutorials","url":"#"},{"name":"Business","url":"#"}]]]></Value>
    </footerCategories>
    <headerTitle>
      <Value><![CDATA[Amazon REV2018 Workshop: Road to Seattle]]></Value>
    </headerTitle>
    <relatedArticlesItems>
      <Value><![CDATA[[{"key":"7d3a610e-aeba-4a13-b069-78dd6983ede4","name":"Item 1","ncContentTypeAlias":"blogList","items":"umb://document/2aae14ff01c14aa88c8f98d746dc743c,umb://document/68aed09bf6ae448390c8072431ab7b0a"}]]]></Value>
    </relatedArticlesItems>
    <relatedArticlesTitle>
      <Value><![CDATA[Related posts]]></Value>
    </relatedArticlesTitle>
    <socialLinks>
      <Value><![CDATA[[{"name":"facebook","url":"#"},{"name":"twitter","url":"#"},{"name":"google-plus","url":"#"},{"name":"linkedin","url":"#"},{"name":"envelope","url":"#"}]]]></Value>
    </socialLinks>
    <socialTitle>
      <Value><![CDATA[Share]]></Value>
    </socialTitle>
    <summaryImage>
      <Value><![CDATA[umb://media/d6d25073c98a4887bd76a3b67a392c13]]></Value>
    </summaryImage>
    <summarySummary>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut]]></Value>
    </summarySummary>
    <summaryTitle>
      <Value><![CDATA[Amazon REV Workshop: Road to Seattle]]></Value>
    </summaryTitle>
  </Properties>
</Content>