<?xml version="1.0" encoding="utf-8"?>
<Content Key="a240c969-a47c-4a43-900e-81b7bf3a859e" Alias="Animation" Level="4">
  <Info>
    <Parent Key="42043e02-5680-4c19-ac27-c3187f51d002">Portfolio</Parent>
    <Path>/HomePage/ExamplePages/Portfolio/Animation</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioDetailPage</ContentType>
    <CreateDate>2020-04-22T08:28:48</CreateDate>
    <NodeName Default="Animation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5a51b62-c6f3-4c6f-978f-48a8abda2448">portfolioPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "95c2c8d8-4016-7757-574a-f87b2bf70805",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </content>
    <cta>
      <Value><![CDATA[umb://document/8699e3bd680f4737a6c3b4764f0dc7ca]]></Value>
    </cta>
    <summaryImage>
      <Value><![CDATA[umb://media/5765b94956284d2589bbb908fb5f4b02]]></Value>
    </summaryImage>
    <summarySubTitle>
      <Value><![CDATA[]]></Value>
    </summarySubTitle>
    <summaryTagTargets>
      <Value><![CDATA[marketing-social]]></Value>
    </summaryTagTargets>
    <summaryText>
      <Value><![CDATA[At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est]]></Value>
    </summaryText>
    <summaryTitle>
      <Value><![CDATA[Animation]]></Value>
    </summaryTitle>
  </Properties>
</Content>