<?xml version="1.0" encoding="utf-8"?>
<Content Key="f47eca7b-ec3b-46a9-83d3-ef86f09e4a6a" Alias="Blogs" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-04-20T14:18:27</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "breadcrumb",
                    "value": {},
                    "id": "1bc162df-4d54-421f-bb91-89f5c790c382"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "1e6f8020-df11-4cd5-9375-51a238cdd3cf"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "blogArea",
                    "value": {
                      "blogs": [
                        {
                          "key": "d7f33c3d-dd24-440e-87c6-48fd40f4e321",
                          "name": "Item 1",
                          "ncContentTypeAlias": "blogList",
                          "items": "umb://document/2aae14ff01c14aa88c8f98d746dc743c,umb://document/68aed09bf6ae448390c8072431ab7b0a,umb://document/7c7d6255be6f4ead909858316d157966"
                        }
                      ]
                    },
                    "id": "b69f04dd-6069-4a80-a848-2d62984be4d3"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "fb8acfc5-a66e-4d2b-96a6-84f1615f86cc"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/8699e3bd680f4737a6c3b4764f0dc7ca"
                    },
                    "id": "73713ba2-98c4-48cc-9022-aa0145e8f718"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "fb9950ce-2c98-46c8-8b19-34ff0e537026"
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>