<?xml version="1.0" encoding="utf-8"?>
<Content Key="1723c9d2-52c9-4ca4-b36a-c52485023884" Alias="Contact" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-06T09:13:17</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "d58da63a-4e23-4ffc-8295-16b7e065ba27",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "breadcrumb",
                    "value": {},
                    "id": "57fe8599-ce5b-4e30-8cdb-75bc17a8a238"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        },
        {
          "name": "100",
          "id": "d3db4125-50db-41a9-9a67-a4263d89e6b4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "contact",
                    "value": {
                      "name": "Section Grid",
                      "mapHTML": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.340623911607!2d-0.1300109842300412!3d51.50696657963503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cfcae9b591%3A0xdeeb4f498614e14!2s49%20Charing%20Cross%20Rd%2C%20Westminster%2C%20London%20SW1A%202DX!5e0!3m2!1sen!2suk!4v1580227155110!5m2!1sen!2suk\" frameborder=\"0\" allowfullscreen=\"\"></iframe>",
                      "formIntro": "Thank you for your interest. <br>Please fill out the form below to inquire about our work in Digital.",
                      "contactOptions": [
                        {
                          "key": "a8846d84-e845-4575-8d11-71e9481df7d4",
                          "name": "Contact Us",
                          "ncContentTypeAlias": "contactContactOption",
                          "title": "Contact Us",
                          "telephone": "(+65) 1234 5678",
                          "email": "hello.colorlib@gmail.com",
                          "address": "",
                          "openingTimes": "Mon - Fri: 9:00 - 19:00<br> Closed on Weekends"
                        },
                        {
                          "key": "79065443-00cf-4e55-a6d6-85e46954fb79",
                          "name": "London",
                          "ncContentTypeAlias": "contactContactOption",
                          "title": "London",
                          "telephone": "(+65) 2222 5678",
                          "email": "hello.colorlib@gmail.com",
                          "address": "49 Charing Cross Rd, London, UK ",
                          "openingTimes": ""
                        },
                        {
                          "key": "cbf3a788-c432-4dda-9ed4-fd0342a100ab",
                          "name": "New York",
                          "ncContentTypeAlias": "contactContactOption",
                          "title": "New York",
                          "telephone": "(+65) 6666 5678",
                          "email": "hello.colorlib@gmail.com",
                          "address": "40 Baria Sreet 13/2 NY City, US",
                          "openingTimes": ""
                        }
                      ],
                      "form": "cea2c334-e504-4e0b-8dbb-ae3aefd3a7fb"
                    },
                    "id": "1d3b871f-aa5a-4d97-badb-d42272d234bc"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        },
        {
          "name": "100",
          "id": "d943f73a-f444-47cb-81af-f3638e61c87f",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/8699e3bd680f4737a6c3b4764f0dc7ca"
                    },
                    "id": "64f0eeb3-ba2f-4629-9ff8-f304b781459f"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>