<?xml version="1.0" encoding="utf-8"?>
<Content Key="9918250e-4c6a-4d16-be1d-dc57e8aed3a1" Alias="CTA" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/CTA</Path>
    <Trashed>false</Trashed>
    <ContentType>ctaArea</ContentType>
    <CreateDate>2020-04-22T09:44:54</CreateDate>
    <NodeName Default="CTA" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>