<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343" Alias="Example Pages" Level="2">
  <Info>
    <Parent Key="872760e6-2ca6-4d63-b777-47af8676831d">Home Page</Parent>
    <Path>/HomePage/ExamplePages</Path>
    <Trashed>false</Trashed>
    <ContentType>contentArea</ContentType>
    <CreateDate>2020-02-06T09:10:56</CreateDate>
    <NodeName Default="Example Pages" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>