<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2be98fd-3282-481d-b5fb-c7a76aa66694" Alias="Home" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-06T09:11:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "welcomeSlides",
                    "value": {
                      "slides": [
                        {
                          "key": "a977ca6e-2c5d-4496-a944-33c2e0b616a9",
                          "name": "Item 1",
                          "ncContentTypeAlias": "welcomeSlidesSlide",
                          "title": "Umbraco people in Leeds",
                          "text": "Bringing together any one interested in Umbraco in and around Leeds",
                          "image": "umb://media/e1ee6b8bfd1748d38f90b42eded2f292",
                          "link": [
                            {
                              "name": "Start exploring",
                              "url": "#"
                            }
                          ]
                        }
                      ]
                    },
                    "id": "32b49564-1bab-4247-9bd5-677b4c220ab0"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": false,
          "config": {},
          "id": "ebf6c12b-0688-4e3f-a27c-86343d1dd78d"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "aboutUs",
                    "value": {
                      "title": "We're a Agency Team & Digital Marketing",
                      "tabs": [
                        {
                          "key": "306890dd-8a05-4a9c-84fe-1b63ea066309",
                          "name": "Item 1",
                          "ncContentTypeAlias": "aboutUsTab",
                          "tabText": "",
                          "content": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p> \n<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>",
                          "link": [
                            {
                              "name": "Start exploring",
                              "url": "#"
                            }
                          ]
                        }
                      ],
                      "videoId": "sSakBz_eYzQ",
                      "videoImage": "umb://media/7f39a776a1b1498f811a9d1a740ae917"
                    },
                    "id": "20140d0b-24b2-44e6-9877-0e7f072f9e4c"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "cde58196-cab3-4b51-8335-1d244e998b9e"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "services",
                    "value": {
                      "items": [
                        {
                          "key": "1dd47868-39f2-4973-a046-a952a02f6540",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "cone_alt",
                          "title": "Business Strategy",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "37e79a4b-14bf-4423-a1ae-200a42eced60",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "piechart",
                          "title": "Market Analytics",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "867e5984-98c9-460c-aae0-4da0cfee22f1",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "easel",
                          "title": "Marketing Social",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        }
                      ],
                      "title": [
                        {
                          "key": "09d2c817-08eb-4996-aec8-57f0ef316e49",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "Our Services",
                          "text": ""
                        }
                      ]
                    },
                    "id": "a11ff68c-1c38-4b60-8c45-fe557e5565fb"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "51a59a5e-25be-4d9f-8a1a-2214c37b8dfd"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "portfolioArea",
                    "value": {
                      "title": [
                        {
                          "key": "d4d7ad0b-f849-4a59-91dc-cdcd72043156",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "Our Portfolio",
                          "text": "We stay on top of our industry by being experts in yours."
                        }
                      ],
                      "mode": "carousel",
                      "testimonials": [
                        {
                          "key": "59d6a0a4-3fb3-4954-8eb5-a79a204a4acd",
                          "name": "Item 1",
                          "ncContentTypeAlias": "testimonials",
                          "items": [
                            {
                              "key": "a73dc50c-360a-4d79-adec-61b629ced9aa",
                              "name": "Darrell Goodman",
                              "ncContentTypeAlias": "testimonialsItem",
                              "headshot": "umb://media/95db1d49858f439485d49909e4ad33ac",
                              "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                              "stars": "3.6",
                              "position": "CEO Colorlib"
                            },
                            {
                              "key": "e8bfdc61-31da-4d41-8b4d-006a6d7f296d",
                              "name": "Darrell Goodman",
                              "ncContentTypeAlias": "testimonialsItem",
                              "headshot": "umb://media/195c6a3f09324acba510db33aa9b5ea7",
                              "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                              "stars": "4.5",
                              "position": "CEO Colorlib"
                            }
                          ]
                        }
                      ],
                      "items": "umb://document/40135bb985924a4c965926436c6ae9d8,umb://document/40135bb985924a4c965926436c6ae9d8,umb://document/40135bb985924a4c965926436c6ae9d8,umb://document/40135bb985924a4c965926436c6ae9d8,umb://document/40135bb985924a4c965926436c6ae9d8"
                    },
                    "id": "f0fe12bd-1ae9-4948-bf8d-45302b1441ab"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "7e889bb0-2ecf-45da-bcaf-4fbc3e0a6d49"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "blogArea",
                    "value": {
                      "cta": [
                        {
                          "key": "c5ce72ed-bd8c-4199-9e50-c885044d33b7",
                          "name": "Item 1",
                          "ncContentTypeAlias": "cta",
                          "title": "Interested in working with us?",
                          "text": "Hit the button below or give us a call!",
                          "link": [
                            {
                              "name": "<span>Call us now:</span> (+65) 1234 5678",
                              "url": "#"
                            }
                          ]
                        }
                      ],
                      "title": [
                        {
                          "key": "529eb63e-f33d-44f3-82b3-c65207ef831e",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "Our latest blogs",
                          "text": "Hit the button or give use a call!"
                        }
                      ],
                      "blogs": [
                        {
                          "key": "ac0dc131-161a-4ca2-87f9-9b8eb5aea58c",
                          "name": "Item 1",
                          "ncContentTypeAlias": "blogList",
                          "items": "umb://document/2aae14ff01c14aa88c8f98d746dc743c,umb://document/68aed09bf6ae448390c8072431ab7b0a,umb://document/7c7d6255be6f4ead909858316d157966"
                        }
                      ]
                    },
                    "id": "cf05e3e7-d4eb-428f-bbd9-daed0c0d6529"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "5efbbf49-4c55-44e9-b504-103bbdc3234b"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/8699e3bd680f4737a6c3b4764f0dc7ca"
                    },
                    "id": "0efdd4ce-e581-4b9b-b855-3ed9adfc7296"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "6dfdedea-5ea3-46d8-9e95-1f23bfc15e67"
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>