<?xml version="1.0" encoding="utf-8"?>
<Content Key="872760e6-2ca6-4d63-b777-47af8676831d" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-05T21:17:37</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "123bab69-4d33-49a0-84ec-10d3aa9a2ce4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "welcomeSlides",
                    "value": {
                      "name": "Section Grid",
                      "slides": [
                        {
                          "key": "43127ff0-c957-4df6-8b3a-067731091ac9",
                          "name": "Be more <span>involved</span>",
                          "ncContentTypeAlias": "welcomeSlidesSlide",
                          "title": "Become more <span>involved</span>",
                          "text": "Bringing together anyone interested in Umbraco</br> from around the Leeds area",
                          "link": [
                            {
                              "name": "Join Now",
                              "url": "https://www.meetup.com/umbLeeds/",
                              "icon": "icon-link",
                              "published": true
                            }
                          ],
                          "image": "umb://media/e1ee6b8bfd1748d38f90b42eded2f292"
                        }
                      ]
                    },
                    "id": "71b5ffdd-11cb-436c-b97f-b342b2796a82"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        },
        {
          "name": "100",
          "id": "f237d148-7d18-cbcc-6812-455028ea4f47",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "events",
                    "value": {
                      "name": "Section Grid"
                    },
                    "id": "5ec94ff9-f690-ae4c-16ce-437fb12e8330"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "100",
          "id": "82890b7c-8159-464f-8ef7-77d7a59baef5",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaForm",
                    "value": {
                      "name": "Section Grid",
                      "title": "Sign up to our mailing list",
                      "text": "Get notification about new updates, etc...",
                      "form": "7816dccb-629d-4ce0-9af3-c22ae8b872ea"
                    },
                    "id": "9631cdfb-5ff9-4f45-867b-3f41c52cecdb"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>