<?xml version="1.0" encoding="utf-8"?>
<Content Key="94191f91-f97b-46dc-a38d-b59830903e98" Alias="Interested in working with us?" Level="4">
  <Info>
    <Parent Key="9918250e-4c6a-4d16-be1d-dc57e8aed3a1">CTA</Parent>
    <Path>/HomePage/ExamplePages/CTA/InterestedInWorkingWithUs</Path>
    <Trashed>false</Trashed>
    <ContentType>cta</ContentType>
    <CreateDate>2020-04-25T20:39:44</CreateDate>
    <NodeName Default="Interested in working with us?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[{"name":"<span>Call us now:</span> (+65) 1234 5678","url":"#"}]]]></Value>
    </link>
    <text>
      <Value><![CDATA[Hit the button below or give us a call!]]></Value>
    </text>
    <title>
      <Value><![CDATA[Interested in working with us?]]></Value>
    </title>
  </Properties>
</Content>