<?xml version="1.0" encoding="utf-8"?>
<Content Key="15fb5e54-e505-44f1-9609-8f15edd91159" Alias="Market Analysis" Level="4">
  <Info>
    <Parent Key="42043e02-5680-4c19-ac27-c3187f51d002">Portfolio</Parent>
    <Path>/HomePage/ExamplePages/Portfolio/MarketAnalysis</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioDetailPage</ContentType>
    <CreateDate>2020-04-21T22:38:56</CreateDate>
    <NodeName Default="Market Analysis" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5a51b62-c6f3-4c6f-978f-48a8abda2448">portfolioPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "portfolio",
                    "value": {
                      "title": "Market Analysis",
                      "subTitle": "ANALYSIS, MARKETING",
                      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat",
                      "client": "Clarence Ryan",
                      "date": "07 DEC 2018",
                      "location": "United States",
                      "author": "Phillip Simon",
                      "image": "umb://media/99a5a592906047a5821aeef8b0003288",
                      "socialLinks": [
                        {
                          "name": "facebook",
                          "url": "#"
                        },
                        {
                          "name": "twitter",
                          "url": "#"
                        },
                        {
                          "name": "pinterest",
                          "url": "#"
                        },
                        {
                          "name": "feed",
                          "url": "#"
                        },
                        {
                          "name": "heart",
                          "url": "#"
                        }
                      ]
                    },
                    "id": "9e274d90-cd0f-49ae-927d-79b76910ec30"
                  },
                  "editor": {
                    "name": "Grid",
                    "alias": "grid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "21a6fb09-ee74-47fa-b1e5-2fcce71c115f"
        }
      ]
    }
  ]
}]]></Value>
    </content>
    <cta>
      <Value><![CDATA[umb://document/8699e3bd680f4737a6c3b4764f0dc7ca]]></Value>
    </cta>
    <summaryImage>
      <Value><![CDATA[umb://media/ecbb2ba26e984af08b4e3c56224144e1]]></Value>
    </summaryImage>
    <summarySubTitle>
      <Value><![CDATA[]]></Value>
    </summarySubTitle>
    <summaryTagTargets>
      <Value><![CDATA[market-analytics]]></Value>
    </summaryTagTargets>
    <summaryText>
      <Value><![CDATA[At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est]]></Value>
    </summaryText>
    <summaryTitle>
      <Value><![CDATA[Market Analysis]]></Value>
    </summaryTitle>
  </Properties>
</Content>