<?xml version="1.0" encoding="utf-8"?>
<Content Key="42043e02-5680-4c19-ac27-c3187f51d002" Alias="Portfolio" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/Portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-06T09:13:41</CreateDate>
    <NodeName Default="Portfolio" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "67e8f986-0e29-4978-afb6-8645c43f9872",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "breadcrumb",
                    "value": {},
                    "id": "b1441cc4-0db2-45cf-a43d-d4699472a7be"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        },
        {
          "name": "100",
          "id": "6fc48eef-2def-4bbd-b724-281ad0dd2512",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "portfolioArea",
                    "value": {
                      "name": "Section Grid",
                      "title": [
                        {
                          "key": "ac8cba3c-3ce4-4dc7-93e2-8271e55e9117",
                          "name": "Item 1",
                          "ncContentTypeAlias": "sectionHeading",
                          "title": "",
                          "text": ""
                        }
                      ],
                      "mode": [
                        "grid"
                      ],
                      "filters": [
                        {
                          "key": "5747b857-7e2d-47d3-acf7-5c79535ee9c6",
                          "name": "Item 1",
                          "ncContentTypeAlias": "portfolioAreaFilter",
                          "target": "ux-ui-design",
                          "text": "UX/UI Design"
                        },
                        {
                          "key": "c3b73573-4bac-452a-8355-6bf370ada011",
                          "name": "Item 2",
                          "ncContentTypeAlias": "portfolioAreaFilter",
                          "target": "market-analytics",
                          "text": "Market Analytics"
                        },
                        {
                          "key": "679c2841-4904-44d9-bf6c-9c147fa9ca21",
                          "name": "Item 3",
                          "ncContentTypeAlias": "portfolioAreaFilter",
                          "target": "marketing-social",
                          "text": "Marketing Social"
                        }
                      ],
                      "testimonials": [
                        {
                          "key": "b4a80f35-281d-4491-b837-20af391c4c66",
                          "name": "Item 1",
                          "ncContentTypeAlias": "testimonials",
                          "items": []
                        }
                      ],
                      "items": "umb://document/40135bb985924a4c965926436c6ae9d8,umb://document/15fb5e54e50544f196098f15edd91159,umb://document/d9f0823ad4864437ba79785d9fa79413,umb://document/ad37ecd76e5a4a128049d830ccd8a038,umb://document/a240c969a47c4a43900e81b7bf3a859e,umb://document/5c7274158bd342a0a54b61a20ea0adf4,umb://document/2c7501bdcc954c579146357542076f83,umb://document/b7cec044790a4920a997631d181bb1ea,umb://document/656f2f7291284c3ea7c57c7aa6448f72,umb://document/6a4d2c63a6284a33808d64f6c8f98733"
                    },
                    "id": "84210025-654d-414e-810f-e59184a97e15"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        },
        {
          "name": "100",
          "id": "0d7219fe-f006-433e-9adb-178f0c1c2ce0",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "name": "Section Grid",
                      "item": "umb://document/94191f91f97b46dca38db59830903e98"
                    },
                    "id": "4ee4514e-cfe5-4ad8-acc7-c0ed9ee77489"
                  },
                  "editor": {
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": []
            }
          ],
          "styles": null,
          "config": {}
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>