<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c7501bd-cc95-4c57-9146-357542076f83" Alias="PPC" Level="4">
  <Info>
    <Parent Key="42043e02-5680-4c19-ac27-c3187f51d002">Portfolio</Parent>
    <Path>/HomePage/ExamplePages/Portfolio/PPC</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioDetailPage</ContentType>
    <CreateDate>2020-04-22T08:28:48</CreateDate>
    <NodeName Default="PPC" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5a51b62-c6f3-4c6f-978f-48a8abda2448">portfolioPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <cta>
      <Value><![CDATA[]]></Value>
    </cta>
    <summaryImage>
      <Value><![CDATA[umb://media/3b07c1b2a5ce44dfadc4a0fc16d4ef86]]></Value>
    </summaryImage>
    <summarySubTitle>
      <Value><![CDATA[]]></Value>
    </summarySubTitle>
    <summaryTagTargets>
      <Value><![CDATA[marketing-social]]></Value>
    </summaryTagTargets>
    <summaryText>
      <Value><![CDATA[At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est]]></Value>
    </summaryText>
    <summaryTitle>
      <Value><![CDATA[PPC]]></Value>
    </summaryTitle>
  </Properties>
</Content>