<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aae14ff-01c1-4aa8-8c8f-98d746dc743c" Alias="SEO: The Movie By Ignite Visibility" Level="4">
  <Info>
    <Parent Key="f47eca7b-ec3b-46a9-83d3-ef86f09e4a6a">Blogs</Parent>
    <Path>/HomePage/ExamplePages/Blogs/SEOTheMovieByIgniteVisibility</Path>
    <Trashed>false</Trashed>
    <ContentType>blogDetailPage</ContentType>
    <CreateDate>2020-04-20T15:34:37</CreateDate>
    <NodeName Default="SEO: The Movie By Ignite Visibility" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="615f792f-4f21-47e2-9e35-79d62a4d80a1">BlogPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "29a25073-a81c-c252-2690-7415f5fb0565",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "id": "d3e93686-ef18-6397-2976-240a4cb329ec",
                    "dtgeContentTypeAlias": "",
                    "value": {}
                  },
                  "editor": {
                    "alias": "blogGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </content>
    <cta>
      <Value><![CDATA[umb://document/8699e3bd680f4737a6c3b4764f0dc7ca]]></Value>
    </cta>
    <footerCategories>
      <Value><![CDATA[[]]]></Value>
    </footerCategories>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <relatedArticlesItems>
      <Value><![CDATA[[{"key":"ff452511-0137-4eea-9a8e-e59d4b1cd5aa","name":"Item 1","ncContentTypeAlias":"blogList","items":""}]]]></Value>
    </relatedArticlesItems>
    <relatedArticlesTitle>
      <Value><![CDATA[]]></Value>
    </relatedArticlesTitle>
    <socialLinks>
      <Value><![CDATA[[]]]></Value>
    </socialLinks>
    <socialTitle>
      <Value><![CDATA[]]></Value>
    </socialTitle>
    <summaryImage>
      <Value><![CDATA[umb://media/ad4e2e040e4946d591531ca118dbef16]]></Value>
    </summaryImage>
    <summarySummary>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut]]></Value>
    </summarySummary>
    <summaryTitle>
      <Value><![CDATA[SEO: The Movie By Ignite Visibility]]></Value>
    </summaryTitle>
  </Properties>
</Content>