<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c7745c1-e485-4079-8112-56d75cde94fd" Alias="Services" Level="3">
  <Info>
    <Parent Key="1ac44fc7-45ca-43b9-b80c-f07a7a0ee343">Example Pages</Parent>
    <Path>/HomePage/ExamplePages/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionGridPage</ContentType>
    <CreateDate>2020-02-06T09:13:48</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d03e521-fbc2-4b65-bfa8-a3ea76a95d03">SectionGridPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "breadcrumb",
                    "value": {},
                    "id": "69e886ce-bc44-4db3-bddd-d203488c77c3"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "b2ee1f26-55be-4bd3-9b86-1f5cf40f075c"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "services",
                    "value": {
                      "items": [
                        {
                          "key": "1b3c36ec-46e5-4516-8a49-67f45fa721db",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "cone_alt",
                          "title": "Business Strategy",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "310ebffb-4dff-47af-91da-c86aeb819cdb",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "piechart",
                          "title": "Market Analytics",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "2b171a24-796c-46ee-8712-25b4e5407be6",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "easel",
                          "title": "Marketing Social",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "15517701-042f-44bf-b4c5-9f5730f40016",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "lightbulb_alt",
                          "title": "UX/UI Design",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "1c586604-b838-4d23-8cc3-531cbcb60a97",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "drawer_alt",
                          "title": "Software Development",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        },
                        {
                          "key": "2aad5cb4-2570-4098-a09e-8693074e3384",
                          "name": "Item 1",
                          "ncContentTypeAlias": "servicesItem",
                          "iconName": "genius",
                          "title": "Technology",
                          "text": "At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata."
                        }
                      ]
                    },
                    "id": "5d483f64-b22e-4104-bc56-56732062ef38"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "671351bf-e565-40a1-9565-01e8f370fdfb"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/94191f91f97b46dca38db59830903e98"
                    },
                    "id": "e1acbfad-0023-4808-90e6-c8e11597d703"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "9fd56ee0-8286-4255-adaa-1bfe35786c08"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "testimonials",
                    "value": {
                      "items": [
                        {
                          "key": "100ede70-0a59-4699-8dbe-ef4963241e25",
                          "name": "Darrell Goodman",
                          "ncContentTypeAlias": "testimonialsItem",
                          "headshot": "umb://media/95db1d49858f439485d49909e4ad33ac",
                          "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                          "stars": "3.6",
                          "position": "CEO Colorlib"
                        },
                        {
                          "key": "e5ad6c41-9abb-4b0d-ad92-cb6592f3b1d2",
                          "name": "Darrell Goodman",
                          "ncContentTypeAlias": "testimonialsItem",
                          "headshot": "umb://media/195c6a3f09324acba510db33aa9b5ea7",
                          "quote": "Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.",
                          "stars": "4.5",
                          "position": "CEO Colorlib"
                        }
                      ]
                    },
                    "id": "ce8e62e8-2b06-4b78-b9dd-177ccfb75ef2"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "e53111cc-2286-4b5a-a155-c4f22651f902"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "statistics",
                    "value": {
                      "stats": [
                        {
                          "key": "0c2afb5f-99de-4c07-8df3-439623b733de",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "90",
                          "description": "PROJECTS COMPLETED",
                          "iconName": "piechart"
                        },
                        {
                          "key": "923fa265-3c13-4b9b-82e1-a95727db3535",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "120",
                          "description": "Happy<br> clients",
                          "iconName": "heart_alt"
                        },
                        {
                          "key": "019c1798-c5de-4d8c-9b81-f4dae88daf0f",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "50",
                          "description": "Web<br> awards",
                          "iconName": "book_alt"
                        },
                        {
                          "key": "ce1e0ddf-d0f8-45bd-80f0-6dcb6b4305c1",
                          "name": "Item 1",
                          "ncContentTypeAlias": "statisticsStat",
                          "value": "20",
                          "description": "our<br> experts",
                          "iconName": "profile"
                        }
                      ]
                    },
                    "id": "d89867f3-f4f6-4c08-9185-4d724ac596c3"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "fc48a48a-f3fd-4061-9a86-b417ecbb5847"
        },
        {
          "name": "100",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "config": [],
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "ctaGridItem",
                    "value": {
                      "item": "umb://document/8699e3bd680f4737a6c3b4764f0dc7ca"
                    },
                    "id": "1af2c6a7-6349-4251-b4b6-bfc9800072bf"
                  },
                  "editor": {
                    "name": "Section Grid",
                    "alias": "sectionGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html",
                    "render": "/App_Plugins/DocTypeGridEditor/Render/DocTypeGridEditor.cshtml",
                    "icon": "icon-item-arrangement",
                    "config": {
                      "allowedDocTypes": [
                        "\\baboutUs\\b",
                        "\\bblogArea\\b",
                        "\\bbreadcrumb\\b",
                        "\\bcontact\\b",
                        "\\bcontentRte\\b",
                        "\\bctaGridItem\\b",
                        "\\bportfolio\\b",
                        "\\bsectionHeading\\b",
                        "\\bservices\\b",
                        "\\bstatistics\\b",
                        "\\bportfolioArea\\b",
                        "\\bteamArea\\b",
                        "\\btestimonials\\b",
                        "\\bwelcomeSlides\\b",
                        "\\bwhyChooseUs\\b",
                        "\\bblogList\\b",
                        "\\bevents\\b"
                      ],
                      "enablePreview": true,
                      "viewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/",
                      "previewViewPath": "/Views/Partials/Grid/Editors/DocTypeGridEditor/Previews/",
                      "previewCssFilePath": "",
                      "previewJsFilePath": ""
                    }
                  }
                }
              ]
            }
          ],
          "style": {},
          "hasConfig": true,
          "config": {},
          "id": "7e3f5584-a148-442f-805c-299f73f6d16a"
        }
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>