<?xml version="1.0" encoding="utf-8"?>
<Content Key="8699e3bd-680f-4737-a6c3-b4764f0dc7ca" Alias="Subscribe to our Newsletter" Level="4">
  <Info>
    <Parent Key="9918250e-4c6a-4d16-be1d-dc57e8aed3a1">CTA</Parent>
    <Path>/HomePage/ExamplePages/CTA/SubscribeToOurNewsletter</Path>
    <Trashed>false</Trashed>
    <ContentType>ctaForm</ContentType>
    <CreateDate>2020-04-25T20:39:56</CreateDate>
    <NodeName Default="Subscribe to our Newsletter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[7816dccb-629d-4ce0-9af3-c22ae8b872ea]]></Value>
    </form>
    <text>
      <Value><![CDATA[Subscribe our newsletter gor get notification about new updates, etc...]]></Value>
    </text>
    <title>
      <Value><![CDATA[Subscribe to our Newsletter]]></Value>
    </title>
  </Properties>
</Content>