<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb7fa089-7a35-4f54-80cc-748a1a6bd64f" Alias="Template" Level="2">
  <Info>
    <Parent Key="872760e6-2ca6-4d63-b777-47af8676831d">Home Page</Parent>
    <Path>/HomePage/Template</Path>
    <Trashed>false</Trashed>
    <ContentType>template</ContentType>
    <CreateDate>2020-02-06T07:16:41</CreateDate>
    <NodeName Default="Template" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutSectionCopyrightNotice>
      <Value><![CDATA[Copyright 2020 Umbraco Leeds]]></Value>
    </aboutSectionCopyrightNotice>
    <aboutSectionSocialLinks>
      <Value><![CDATA[[{"name":"facebook","url":"https://www.facebook.com/umbleeds/"},{"name":"twitter","url":"https://twitter.com/umbLeeds"},{"name":"meetup","url":"https://www.meetup.com/umbLeeds/"}]]]></Value>
    </aboutSectionSocialLinks>
    <aboutSectionText>
      <Value><![CDATA[Integer vehicula mauris libero, at molestie eros imperdiet sit amet.]]></Value>
    </aboutSectionText>
    <aboutSectionTitle>
      <Value><![CDATA[About Us]]></Value>
    </aboutSectionTitle>
    <footerSections>
      <Value><![CDATA[[{"key":"64aaecb7-dab0-434d-ac22-2186f6462377","name":"When and where","ncContentTypeAlias":"siteFooterSection","title":"When and where","text":"<p>The first Thursday of every month, using a range of venues.</p><p>Please check meetup.com for details.</p>","links":[]},{"key":"e52710a3-2c4c-45d4-bfb2-885cfa27d4d6","name":"Quick Links","ncContentTypeAlias":"siteFooterSection","title":"Quick Links","text":"","links":[{"name":"Meetup page","url":"https://www.meetup.com/umbLeeds/"},{"name":"Code Of Conduct","url":"#"},{"name":"Join our Slack Channel","url":"#"}]},{"key":"b403edda-5061-41af-9304-3163f3e9a963","name":"External Links","ncContentTypeAlias":"siteFooterSection","title":"External Links","text":"","links":[{"name":"Umbraco","url":"http://www.umbraco.com"},{"name":"Umbraco Spark","url":"http://www.umbracospark.com"},{"name":"Codegarden","url":"https://codegarden20.com/"},{"name":"Codecabin","url":"https://codecab.in/"}]}]]]></Value>
    </footerSections>
    <headerLinks>
      <Value><![CDATA[[{"name":"Home","udi":"umb://document/872760e62ca64d63b77747af8676831d"},{"name":"Meetup Page","url":"https://www.meetup.com/umbLeeds/"},{"name":"Code of Conduct","udi":"umb://document/f32931eaaa49486cbae521189cf21ea1"}]]]></Value>
    </headerLinks>
    <headerLogo>
      <Value><![CDATA[umb://media/f03812c02bc142e3aff2785ac2e370f2]]></Value>
    </headerLogo>
  </Properties>
</Content>