<?xml version="1.0" encoding="utf-8"?>
<Content Key="656f2f72-9128-4c3e-a7c5-7c7aa6448f72" Alias="Umbraco" Level="4">
  <Info>
    <Parent Key="42043e02-5680-4c19-ac27-c3187f51d002">Portfolio</Parent>
    <Path>/HomePage/ExamplePages/Portfolio/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioDetailPage</ContentType>
    <CreateDate>2020-04-22T08:28:49</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5a51b62-c6f3-4c6f-978f-48a8abda2448">portfolioPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <cta>
      <Value><![CDATA[]]></Value>
    </cta>
    <summaryImage>
      <Value><![CDATA[umb://media/b883bfe82ef842f786fa8065462fff01]]></Value>
    </summaryImage>
    <summarySubTitle>
      <Value><![CDATA[]]></Value>
    </summarySubTitle>
    <summaryTagTargets>
      <Value><![CDATA[ux-ui-design
marketing-social]]></Value>
    </summaryTagTargets>
    <summaryText>
      <Value><![CDATA[At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est]]></Value>
    </summaryText>
    <summaryTitle>
      <Value><![CDATA[Umbraco]]></Value>
    </summaryTitle>
  </Properties>
</Content>