<?xml version="1.0" encoding="utf-8"?>
<Content Key="68aed09b-f6ae-4483-90c8-072431ab7b0a" Alias="What Curling Irons Are The Best Ones" Level="4">
  <Info>
    <Parent Key="f47eca7b-ec3b-46a9-83d3-ef86f09e4a6a">Blogs</Parent>
    <Path>/HomePage/ExamplePages/Blogs/WhatCurlingIronsAreTheBestOnes</Path>
    <Trashed>false</Trashed>
    <ContentType>blogDetailPage</ContentType>
    <CreateDate>2020-04-20T15:34:37</CreateDate>
    <NodeName Default="What Curling Irons Are The Best Ones" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="615f792f-4f21-47e2-9e35-79d62a4d80a1">BlogPageDetail</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "100",
          "id": "649cf8c5-8fec-5f45-d97e-b2b04abbc468",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "id": "351419b4-391c-939e-ff3c-640dcf3d4606",
                    "dtgeContentTypeAlias": "",
                    "value": {}
                  },
                  "editor": {
                    "alias": "blogGrid",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </content>
    <cta>
      <Value><![CDATA[umb://document/8699e3bd680f4737a6c3b4764f0dc7ca]]></Value>
    </cta>
    <footerCategories>
      <Value><![CDATA[[]]]></Value>
    </footerCategories>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <relatedArticlesItems>
      <Value><![CDATA[[{"key":"0c6fb0e9-ef55-4ab3-9b74-4d302e479afb","ncContentTypeAlias":"blogList","items":""}]]]></Value>
    </relatedArticlesItems>
    <relatedArticlesTitle>
      <Value><![CDATA[]]></Value>
    </relatedArticlesTitle>
    <socialLinks>
      <Value><![CDATA[[]]]></Value>
    </socialLinks>
    <socialTitle>
      <Value><![CDATA[]]></Value>
    </socialTitle>
    <summaryImage>
      <Value><![CDATA[umb://media/d72a74cb6f51458aa9d43ff4536ea61c]]></Value>
    </summaryImage>
    <summarySummary>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut]]></Value>
    </summarySummary>
    <summaryTitle>
      <Value><![CDATA[What Curling Irons Are The Best Ones]]></Value>
    </summaryTitle>
  </Properties>
</Content>