<section class="uza-services-area section-padding-80-0">
    <div class="container">
        {{#if title}}                
            <div class="col-12">
                {{> parSectionHeading title }}
            </div>
        {{/if}}
        <div class="row">
            {{#each items}}
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <div class="service-icon">
                            <i class="icon_{{iconName}}"></i>
                        </div>
                        {{#if title}}
                            <h5>{{title}}</h5>
                        {{/if}}
                        {{#if text}}
                            <p>{{text}}</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>