<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecbb2ba2-6e98-4af0-8b4e-3c56224144e1" Alias="12" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:16:01</CreateDate>
    <NodeName Default="12" />
    <SortOrder>1</SortOrder>
    <FileHash>2322359422210616118218320717070401802238420</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uqvlx1ey/12.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>