<?xml version="1.0" encoding="utf-8"?>
<Media Key="99a5a592-9060-47a5-821a-eef8b0003288" Alias="13" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:14:58</CreateDate>
    <NodeName Default="13" />
    <SortOrder>1</SortOrder>
    <FileHash>12811099124210224181901791242412356119524015</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sssllgla/13.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>