<?xml version="1.0" encoding="utf-8"?>
<Media Key="d754e0a4-d9d3-4946-99a9-16bb16c66e0d" Alias="18" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:14:24</CreateDate>
    <NodeName Default="18" />
    <SortOrder>1</SortOrder>
    <FileHash>1781011951411845222205681752492822169550</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ulqfjv4t/18.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>