<?xml version="1.0" encoding="utf-8"?>
<Media Key="54dcef1a-0741-4791-b3b7-f0d10e0d9fa7" Alias="19" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:14:24</CreateDate>
    <NodeName Default="19" />
    <SortOrder>1</SortOrder>
    <FileHash>1617247199831374220144174492041643163116</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dtxnyvcb/19.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>