<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8431cf-2680-4fb3-9ea1-e64f26577111" Alias="21" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:14:24</CreateDate>
    <NodeName Default="21" />
    <SortOrder>1</SortOrder>
    <FileHash>61998912469320618341149112472272323252</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zeyjjxma/21.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>