<?xml version="1.0" encoding="utf-8"?>
<Media Key="a755a50c-37f0-423c-937b-1a7bb93aae28" Alias="22" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:14:24</CreateDate>
    <NodeName Default="22" />
    <SortOrder>1</SortOrder>
    <FileHash>81951121511531401992048819621551153578</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bksflj5q/22.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>