<?xml version="1.0" encoding="utf-8"?>
<Media Key="95db1d49-858f-4394-85d4-9909e4ad33ac" Alias="24" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:11:40</CreateDate>
    <NodeName Default="24" />
    <SortOrder>1</SortOrder>
    <FileHash>11583130166240477480372001095525471199</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j2onxfmp/24.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>