<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b07c1b2-a5ce-44df-adc4-a0fc16d4ef86" Alias="6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:11:40</CreateDate>
    <NodeName Default="6" />
    <SortOrder>1</SortOrder>
    <FileHash>136542061903317625112521863921521154526</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wtaboo4o/6.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>