<?xml version="1.0" encoding="utf-8"?>
<Media Key="d72a74cb-6f51-458a-a9d4-3ff4536ea61c" Alias="9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T09:11:40</CreateDate>
    <NodeName Default="9" />
    <SortOrder>1</SortOrder>
    <FileHash>292180571952412501769313686204721791404</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zv0cvv0r/9.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>