<?xml version="1.0" encoding="utf-8"?>
<Media Key="094bfbd9-74a1-41e2-99e4-1acd418cd8d2" Alias="Umbraco Leeds Logo Blue (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLeedsLogoBlue1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-04-19T21:45:29</CreateDate>
    <NodeName Default="Umbraco Leeds Logo Blue (1)" />
    <SortOrder>2</SortOrder>
    <FileHash>11811723210733243731012102121661617405418</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/153fwcnb/umbraco_leeds_logo_blue.svg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>