<?xml version="1.0" encoding="utf-8"?>
<Media Key="1be2ea4a-5e68-401c-b60a-f9adf4ac7df2" Alias="Umbraco Leeds Logo Blue (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLeedsLogoBlue4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-04-27T20:03:53</CreateDate>
    <NodeName Default="Umbraco Leeds Logo Blue (4)" />
    <SortOrder>5</SortOrder>
    <FileHash>411664039611812111735463739191252253</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jtvoeg1i/umbraco_leeds_logo_blue.svg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>