<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a442ef5-7103-4bfc-a911-13d9d5da3ec5" Alias="Umbraco Leeds Logo Blue (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLeedsLogoBlue3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-04-19T21:50:58</CreateDate>
    <NodeName Default="Umbraco Leeds Logo Blue (3)" />
    <SortOrder>4</SortOrder>
    <FileHash>11811723210733243731012102121661617405418</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4mxei0qd/umbraco_leeds_logo_blue.svg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>