<?xml version="1.0" encoding="utf-8"?>
<Media Key="f03812c0-2bc1-42e3-aff2-785ac2e370f2" Alias="Umbraco Leeds Logo Blue" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLeedsLogoBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-05T23:24:28</CreateDate>
    <NodeName Default="Umbraco Leeds Logo Blue" />
    <SortOrder>1</SortOrder>
    <FileHash>11811723210733243731012102121661617405418</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yyjdr2gb/umbraco_leeds_logo_blue.svg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>