<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca2ae639-2a95-4c6f-a3b1-bfe0053dd783" Alias="Blog List Item Picker" Level="3">
  <Info>
    <Name>Blog List Item Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Blog</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/f47eca7bec3b46a983d3ef86f09e4a6a"
  },
  "Filter": "blogDetailPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>