<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c132000-45be-478d-9f11-8a18c9635a8b" Alias="Cta" Level="3">
  <Info>
    <Name>Cta</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cta",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>