<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca89e766-560d-4fff-9e84-57d9f12691aa" Alias="Cta Form Picker" Level="2">
  <Info>
    <Name>Cta Form Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/9918250e4c6a4d16be1ddc57e8aed3a1"
  },
  "Filter": "ctaForm",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>