<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6629b70-3c04-4d5e-ad98-5c3d10eeb177" Alias="Form Picker" Level="2">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>