<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db2b8401-3bb1-4219-adcc-8c7bf9fb90ee" Alias="Item Picker" Level="2">
  <Info>
    <Name>Item Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/9918250e4c6a4d16be1ddc57e8aed3a1"
  },
  "Filter": "ctaForm,cta",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>