<?xml version="1.0" encoding="utf-8"?>
<DataType Key="849dc604-aea2-4706-8b27-adbb8141ca7f" Alias="Multiple Textstring" Level="2">
  <Info>
    <Name>Multiple Textstring</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core</Folder>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>