<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6545b2d3-9367-4c11-be28-db43468d55e1" Alias="Portfolio Area Mode Types" Level="2">
  <Info>
    <Name>Portfolio Area Mode Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 0,
      "value": "carousel"
    },
    {
      "id": 1,
      "value": "grid"
    }
  ]
}]]></Config>
</DataType>