<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb9eb519-fa6f-44fe-858d-ab81188bbd6a" Alias="Portfolio Area Filters" Level="2">
  <Info>
    <Name>Portfolio Area Filters</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "portfolioAreaFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>