<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c04426-0c53-4809-8b1c-8db116a97abf" Alias="Portfolio Area Item Picker" Level="2">
  <Info>
    <Name>Portfolio Area Item Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/42043e0256804c19ac27c3187f51d002"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>