<?xml version="1.0" encoding="utf-8"?>
<DataType Key="162bdd7d-cc76-4a9b-8866-8b3a6d2ebc0f" Alias="Section Grid" Level="2">
  <Info>
    <Name>Section Grid</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [],
    "config": [],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "100",
        "areas": [
          {
            "grid": "12",
            "allowAll": false,
            "allowed": [
              "sectionGrid"
            ]
          }
        ]
      }
    ]
  },
  "Rte": null,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>