<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85e8b5aa-5b71-49bf-b006-23d11c48654a" Alias="Site Footer Sections" Level="3">
  <Info>
    <Name>Site Footer Sections</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Template</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "siteFooterSection",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>