<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6a3f9f3-88e4-47f0-b50d-f3568dd32ef0" Alias="Statistics Stats" Level="3">
  <Info>
    <Name>Statistics Stats</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "statisticsStat",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>