<?xml version="1.0" encoding="utf-8"?>
<DataType Key="644b4aaa-ec8f-4590-81fb-fe9d052d1e4a" Alias="Team Portfolio Area Type Types" Level="4">
  <Info>
    <Name>Team Portfolio Area Type Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content/Team+Portfolio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 0,
      "value": "portfolio"
    },
    {
      "id": 1,
      "value": "team"
    }
  ]
}]]></Config>
</DataType>