<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e3a52db-e5e6-412d-a6b1-7e18c4d157fc" Alias="Team Portfolio Area Items" Level="4">
  <Info>
    <Name>Team Portfolio Area Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content/Team+Portfolio</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teamPortfolioAreaItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>