<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eafc6d5d-cc2d-4f89-b966-6b89a16423ee" Alias="Team Area Items" Level="2">
  <Info>
    <Name>Team Area Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teamAreaItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>