<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93d295ce-4115-428a-9186-121044fc8503" Alias="Team Portfolio Area Filters" Level="4">
  <Info>
    <Name>Team Portfolio Area Filters</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content/Team+Portfolio</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teamPortfolioAreaFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>