<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58665ceb-7ace-42f4-b586-36f3a0d044ea" Alias="Team Area Mode Types" Level="2">
  <Info>
    <Name>Team Area Mode Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 0,
      "value": "carousel"
    },
    {
      "id": 1,
      "value": "grid"
    }
  ]
}]]></Config>
</DataType>