<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32466458-f6d4-4cbd-b3e6-9a3c5b8055c2" Alias="Testimonials Items" Level="3">
  <Info>
    <Name>Testimonials Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonialsItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>