<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10f33ca6-6098-4de4-88c6-3a58e2d68ced" Alias="Url Picker" Level="1">
  <Info>
    <Name>Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>