<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ce5c2cc-0266-4c03-8cf0-3b2b2a948923" Alias="Welcome Slides Slides" Level="3">
  <Info>
    <Name>Welcome Slides Slides</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "welcomeSlidesSlide",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>