<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5f4cde7-d7e6-46da-8140-cec6c811b05e" Alias="Why Choose Us Reasons" Level="3">
  <Info>
    <Name>Why Choose Us Reasons</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>UmbracoLeeds.Core/Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "whyChooseUsReason",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>