<div class="col-12 col-lg-10">
    <div class="post-content text-center mb-50">
        <span class="post-date"><span>{{date.day}}</span> {{date.monthYear}}</span>
        <h2>{{title}}</h2>
    </div>
</div>