<div class="section-heading {{#ifCond _modifiers.[0] '!==' 'left-align'}}text-center{{else}}mb-4{{/ifCond}}">
    {{#if title}}
        <h2>{{title}}</h2>
    {{/if}}
    {{#if text}}
        <p>{{text}}</p>
    {{/if}}
</div>