<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16e2b4bf-87c5-4acf-998c-e17350c6ee02" Alias="blogDetailPage" Level="2">
  <Info>
    <Name>BlogDetailPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate>BlogPageDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="615f792f-4f21-47e2-9e35-79d62a4d80a1">BlogPageDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dd08451e-393b-4624-ab74-ebff289e3483</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ae4ed4f1-f071-4d3b-b80b-a12f52480497</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>74422be0-5722-48dd-b672-641db7f86d69</Key>
      <Name>Cta</Name>
      <Alias>cta</Alias>
      <Definition>ca89e766-560d-4fff-9e84-57d9f12691aa</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>809991fa-4d08-4cd6-af59-bb975dd7e287</Key>
      <Name>Footer Categories</Name>
      <Alias>footerCategories</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2f75bf57-bc55-4960-a23b-57a632defd8a</Key>
      <Name>Header Title</Name>
      <Alias>headerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>993cf7cf-6c35-46ee-a2f9-7bcc5f6aeeed</Key>
      <Name>RelatedArticles Items</Name>
      <Alias>relatedArticlesItems</Alias>
      <Definition>14493194-0760-4039-ae6c-f79e78e47747</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>RelatedArticles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2cae8ecd-af29-470e-9f5d-26261a0ba9b0</Key>
      <Name>RelatedArticles Title</Name>
      <Alias>relatedArticlesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>RelatedArticles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>44a6fed7-87bb-4c57-add1-027f100f453c</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7f03ba44-401b-4163-80ad-e47279339284</Key>
      <Name>Social Title</Name>
      <Alias>socialTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>255c7028-9f1f-41bc-8af8-5ac3cd9192e6</Key>
      <Name>Summary Image</Name>
      <Alias>summaryImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>42fc6fc4-3124-4bf5-af83-90401ef8da07</Key>
      <Name>Summary Summary</Name>
      <Alias>summarySummary</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>04cc981a-f99a-495e-a994-48260d0e7480</Key>
      <Name>Summary Title</Name>
      <Alias>summaryTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Summary</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>RelatedArticles</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>