<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3beaae06-c952-48c2-9e9b-7af6c4a99945" Alias="blogArea" Level="2">
  <Info>
    <Name>BlogArea</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>836bc416-f78c-46e6-910b-93e5ffcd2ba2</Key>
      <Name>Blogs</Name>
      <Alias>blogs</Alias>
      <Definition>14493194-0760-4039-ae6c-f79e78e47747</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9dd15042-30d0-4904-a582-e546c8c3db73</Key>
      <Name>Cta</Name>
      <Alias>cta</Alias>
      <Definition>3c132000-45be-478d-9f11-8a18c9635a8b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a7c67322-2489-407a-9626-b0b7da310054</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0e818e7c-a088-4c51-b5b2-13cf562ac7fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>