<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e36a43b4-a832-4968-baf0-b76ac28f82fb" Alias="contentArea" Level="1">
  <Info>
    <Name>Content Area</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4488bd4b-f55c-4308-983c-cf327e7f6ff0" SortOrder="0">sectionGridPage</ContentType>
    <ContentType Key="16e2b4bf-87c5-4acf-998c-e17350c6ee02" SortOrder="1">blogDetailPage</ContentType>
    <ContentType Key="6e0bbb98-6149-42fd-9ee0-1e85cf996c76" SortOrder="2">ctaArea</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>