<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e0bbb98-6149-42fd-9ee0-1e85cf996c76" Alias="ctaArea" Level="3">
  <Info>
    <Name>Cta Area</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content/Cta</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e2aafd7e-f034-40a3-b796-6985bb7a9362" SortOrder="-1">cta</ContentType>
    <ContentType Key="b62cfa7d-8781-4361-a09d-79ed2d425b53" SortOrder="0">ctaForm</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>