<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6be24fe0-b3b7-4208-8475-8c74fe1732d2" Alias="ctaGridItem" Level="3">
  <Info>
    <Name>CtaGridItem</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Cta</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5cff0c19-3fd8-4abc-9422-6850e6c27584</Key>
      <Name>Item</Name>
      <Alias>item</Alias>
      <Definition>db2b8401-3bb1-4219-adcc-8c7bf9fb90ee</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>