<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94ed1173-035a-4df2-8fa5-717d8efa2527" Alias="portfolioDetailPage" Level="3">
  <Info>
    <Name>PortfolioDetailPage</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content/Portfolio</Folder>
    <Compositions />
    <DefaultTemplate>portfolioPageDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5a51b62-c6f3-4c6f-978f-48a8abda2448">portfolioPageDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>68ad9fdc-01f9-4e80-b809-40c910234674</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>7bfa8564-a100-45ba-acae-0a47895c7bbb</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>af2ce6e1-0547-4e2f-a927-e4f8f70777fc</Key>
      <Name>Cta</Name>
      <Alias>cta</Alias>
      <Definition>ca89e766-560d-4fff-9e84-57d9f12691aa</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>daf2fa5e-1f04-42c7-b115-5d273f26cbdf</Key>
      <Name>Summary Image</Name>
      <Alias>summaryImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8bb25c61-e405-4dd4-b6d5-862d4661705b</Key>
      <Name>Sub Title</Name>
      <Alias>summarySubTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>091140df-ba48-4107-8466-bf3a7db7f174</Key>
      <Name>Tag Targets</Name>
      <Alias>summaryTagTargets</Alias>
      <Definition>849dc604-aea2-4706-8b27-adbb8141ca7f</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0fadac74-4214-4a50-8af9-1e0bc6a88ecc</Key>
      <Name>Summary Text</Name>
      <Alias>summaryText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c28933bc-dac8-4dc6-9346-7de668ffce6d</Key>
      <Name>Summary Title</Name>
      <Alias>summaryTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Summary</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>