<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0bab06b5-19c4-4cc5-98fa-cfde12bdbcec" Alias="portfolioArea" Level="3">
  <Info>
    <Name>PortfolioArea</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Portfolio</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>66bca854-4206-402a-845f-d0f1f15b907b</Key>
      <Name>Filters</Name>
      <Alias>filters</Alias>
      <Definition>fb9eb519-fa6f-44fe-858d-ab81188bbd6a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54d40544-5728-40b3-ae8a-da69b130e0c3</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>89c04426-0c53-4809-8b1c-8db116a97abf</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d01253c5-5929-4345-b2d5-a4be3e82af96</Key>
      <Name>Mode</Name>
      <Alias>mode</Alias>
      <Definition>6545b2d3-9367-4c11-be28-db43468d55e1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>58d2b84e-c7d6-4c65-a445-a22709996945</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>38cd7e51-3173-4c21-b90a-bfd5c69123f0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c08c7371-a206-46e8-80c3-5746e5ef0e3c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0e818e7c-a088-4c51-b5b2-13cf562ac7fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>