<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0db063a3-ebe5-46a2-9d97-92f2698e361b" Alias="services" Level="3">
  <Info>
    <Name>Services</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Services</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a7c127ef-fa89-433a-bf4e-18b97c56be71</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>e2ff03c2-e9f7-402f-8218-8253cb8ceb01</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>72c73f82-0a2a-4349-b8f8-f1de383d0e9e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0e818e7c-a088-4c51-b5b2-13cf562ac7fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>