<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e72613f2-76ae-48e1-8a12-23691bcdec19" Alias="statistics" Level="2">
  <Info>
    <Name>Statistics</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>86efb5ea-6f14-4baa-b345-0942bd5c5851</Key>
      <Name>Stats</Name>
      <Alias>stats</Alias>
      <Definition>b6a3f9f3-88e4-47f0-b50d-f3568dd32ef0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>