<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59172e10-d137-4142-9228-629be5a60751" Alias="teamArea" Level="3">
  <Info>
    <Name>TeamArea</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Team</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00e968fe-2f6a-470a-aa0c-18ac5a9a99b1</Key>
      <Name>Filters</Name>
      <Alias>filters</Alias>
      <Definition>b95c79aa-da73-4e48-972f-7ba23376b008</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>69932953-8a92-4457-af86-d920647926cf</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>eafc6d5d-cc2d-4f89-b966-6b89a16423ee</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>22f01183-847f-4df2-b06a-f027f38ec4ea</Key>
      <Name>Mode</Name>
      <Alias>mode</Alias>
      <Definition>58665ceb-7ace-42f4-b586-36f3a0d044ea</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c62d5dfd-b0de-4dad-98ff-407b9c138007</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>38cd7e51-3173-4c21-b90a-bfd5c69123f0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d94da269-f80f-470c-93fe-ec0216c977d4</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0e818e7c-a088-4c51-b5b2-13cf562ac7fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>