<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e95c672-feca-43dc-bda7-9d1d32a407c4" Alias="testimonials" Level="3">
  <Info>
    <Name>Testimonials</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Testimonials</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8493759f-6e57-42ec-99c5-a6745cc07440</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>32466458-f6d4-4cbd-b3e6-9a3c5b8055c2</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>