<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e0737c5-f14a-4ee9-89c3-9c50f0efae6e" Alias="welcomeSlides" Level="3">
  <Info>
    <Name>WelcomeSlides</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Content/Welcome+Slides</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31898f0d-9b74-4812-bb49-8f4a4a9daf55</Key>
      <Name>Slides</Name>
      <Alias>slides</Alias>
      <Definition>2ce5c2cc-0266-4c03-8cf0-3b2b2a948923</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>