<div class="col-12 col-lg-10">
    <blockquote class="uza-blockquote d-flex">
        <div class="icon">
            <i class="icon_quotations" aria-hidden="true"></i>
        </div>
        <div class="text">
            <h5>“{{quote}}”</h5>
            {{#if name}}
                <h6>– {{name}}</h6>
            {{/if}}
        </div>
    </blockquote>
</div>